@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

body{
  margin: 0;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.carousel{
  position: relative;
  width: 800px;
  margin: 50px 0;
  user-select: none;
  
  .carousel-items{
    display:flex;
    overflow: hidden;
    .carousel-item{
      position: relative;
      opacity: 0.3;
      transition: opacity 0.5s;
      img{
        width: 300px;
        margin: 0 50px;
      }
      h1{
        font-family: 'Roboto Slab', sans-serif;
        font-size: 80px;
        color: white;
        position: absolute;
        top: 80%;
        left: 20%;
        margin: 0;
        transform: translateY(-50%);
      }
    }
    .carousel-item.active{
      transition: transform 2s;
      opacity: 1;
      z-index: 1;
      cursor: pointer;
    }
    .carousel-item.active:hover{
      transform: scale(1.05);
    }
    .carousel-item:first-child{
      margin-left: 200px;
    }
    .carousel-item:last-child{
      margin-right: 200px;
    }
  }
  .arrows{
    position: absolute;
    display:flex;
    justify-content: space-between;
    top:50%;
    width: 100%;

    button{
      border: none;
      font-weight: bold;
      outline-offset: 0;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      cursor: pointer;
    }
    .left-arrow{
      margin-left: 20px;
    }
    .right-arrow{
      margin-right: 20px;
    }
  }
}

.kitten-manager{
  .filters{
    .search-box{
      padding: 5px;
      outline: none;
      margin: 10px;
      width: 200px;
    }
  }
  button{
    margin-top: 20px;
    background-color: rgb(143, 138, 138);
    padding: 10px 30px;
    border:none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    outline: none;
    cursor: pointer;
  }
  button:hover{
    color: #fff;
    background-color: rgb(130, 177, 238);
  }
}