@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@-webkit-keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.carousel {
  position: relative;
  width: 800px;
  margin: 20px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.carousel .carousel-items {
  display: flex;
  overflow: hidden;
}
.carousel .carousel-items .carousel-item {
  position: relative;
  opacity: 0.3;
  transition: opacity 0.5s;
}
.carousel .carousel-items .carousel-item img {
  width: 300px;
  margin: 0 50px;
}
.carousel .carousel-items .carousel-item h1 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 80px;
  color: white;
  position: absolute;
  top: 80%;
  left: 20%;
  margin: 0;
  transform: translateY(-50%);
}
.carousel .carousel-items .carousel-item.active {
  transition: transform 2s, opacity 0.5s;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
}
.carousel .carousel-items .carousel-item.active:hover {
  transform: scale(1.05);
}
.carousel .carousel-items .carousel-item:first-child {
  margin-left: 200px;
}
.carousel .carousel-items .carousel-item:last-child {
  margin-right: 200px;
}
.carousel .arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50%;
  width: 100%;
}
.carousel .arrows button {
  font-family: serif;
  border: none;
  font-weight: bold;
  outline-offset: 0;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
}
.carousel .arrows button.left-arrow {
  margin-left: 20px;
}
.carousel .arrows button.right-arrow {
  margin-right: 20px;
}

.kitten-manager {
  display: flex;
  gap: 20px;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: center;
  align-self: center;
}
.kitten-manager .filters {
  font-family: "Ubuntu";
  font-size: 20px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.kitten-manager .filters .search-box {
  font-size: 20px;
  padding: 5px;
  outline: none;
  margin: 10px;
  width: 100%;
}
.kitten-manager .filters .check-boxes {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.kitten-manager .filters .check-boxes div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.kitten-manager .filters .check-boxes input {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 20px;
}
.kitten-manager .filters .check-boxes label {
  cursor: pointer;
}
.kitten-manager .kitten-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
}
.kitten-manager .kitten-grid .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  width: 200px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 10px 6px #bebebe;
}
.kitten-manager .kitten-grid .card img {
  width: 100%;
}
.kitten-manager .kitten-grid .card p {
  font-size: 20px;
  margin: 0;
}
.kitten-manager .kitten-grid .card button {
  margin: 0;
}
.kitten-manager button {
  margin: 20px 0;
  background-color: #8f8a8a;
  padding: 10px 30px;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  outline: none;
  cursor: pointer;
}
.kitten-manager button:hover {
  color: #fff;
  background-color: #82b1ee;
}

.modal {
  font-family: "Ubuntu";
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  -webkit-animation-name: fadeInAnimation;
          animation-name: fadeInAnimation;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  font-size: 24px;
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 10px 40px;
  width: 50%;
  width: 500px;
  border-bottom: #82b1ee 30px solid;
  border-top: #82b1ee 30px solid;
}
.modal .modal-content button {
  margin: 20px 0;
  background-color: #8f8a8a;
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  outline: none;
  cursor: pointer;
}
.modal .modal-content button:hover {
  color: #fff;
  background-color: #82b1ee;
}
.modal .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .close:hover, .modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 1401px) {
  .carousel {
    width: 80vw;
  }
  .carousel .carousel-items .carousel-item img {
    width: 30vw;
    margin: 0 5vw;
  }
  .carousel .carousel-items .carousel-item:first-child {
    margin-left: 20vw;
  }
  .carousel .carousel-items .carousel-item:last-child {
    margin-right: 20vw;
  }
  .carousel .arrows button {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
  .carousel .arrows button.left-arrow {
    margin-left: 2vw;
  }
  .carousel .arrows button.right-arrow {
    margin-right: 2vw;
  }

  .modal .modal-content {
    width: 800px;
    font-size: 40px;
  }
  .modal .modal-content button {
    font-size: 40px;
  }
  .modal .modal-content .close {
    font-size: 50px;
  }

  .kitten-manager .kitten-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .kitten-manager .kitten-grid .card {
    width: 15vw;
  }
  .kitten-manager .filters .search-box, .kitten-manager .filters .check-boxes {
    font-size: 25px;
  }
  .kitten-manager .filters .check-boxes input {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1001px) {
  .kitten-manager .kitten-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .kitten-manager .kitten-grid .card {
    width: 20vw;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 961px) {
  .kitten-manager .kitten-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .kitten-manager .kitten-grid .card {
    width: 30vw;
  }
}
@media only screen and (max-width: 960px) {
  .carousel {
    width: 80vw;
  }
  .carousel .carousel-items .carousel-item img {
    width: 60vw;
    margin: 0 10vw;
  }
  .carousel .carousel-items .carousel-item h1 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 100px;
  }
  .carousel .carousel-items .carousel-item:first-child {
    margin-left: 0;
  }
  .carousel .carousel-items .carousel-item:last-child {
    margin-right: 0;
  }

  .arrows button {
    z-index: 3;
  }

  .kitten-manager {
    width: 100vw;
  }
  .kitten-manager .kitten-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .kitten-manager .kitten-grid .card {
    width: 30vw;
  }
  .kitten-manager .filters .search-box,
.kitten-manager .filters .check-boxes {
    max-width: 600px;
  }
  .kitten-manager .filters .search-box input,
.kitten-manager .filters .check-boxes input {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 660px) {
  .carousel {
    width: 80vw;
  }
  .carousel .carousel-items .carousel-item img {
    width: 60vw;
    margin: 0 10vw;
  }
  .carousel .carousel-items .carousel-item h1 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 80px;
  }
  .carousel .carousel-items .carousel-item:first-child {
    margin-left: 0;
  }
  .carousel .carousel-items .carousel-item:last-child {
    margin-right: 0;
  }

  .modal .modal-content {
    width: 300px;
    font-size: 20px;
  }
  .modal .modal-content button {
    font-size: 20px;
  }
  .modal .modal-content .close {
    font-size: 30px;
  }

  .arrows button {
    z-index: 3;
  }

  .kitten-manager {
    width: 100vw;
  }
  .kitten-manager .kitten-grid {
    grid-template-columns: 1fr 1fr;
  }
  .kitten-manager .kitten-grid .card {
    width: 40vw;
  }
  .kitten-manager .filters {
    width: 70vw;
  }
  .kitten-manager .filters .check-boxes {
    flex-direction: column;
  }
}
@media only screen and (max-width: 420px) {
  .carousel {
    width: 75vw;
  }
  .carousel .carousel-items .carousel-item img {
    width: 60vw;
    margin: 0 10vw;
  }
  .carousel .carousel-items .carousel-item h1 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 50px;
  }
  .carousel .carousel-items .carousel-item:first-child {
    margin-left: 0vw;
  }
  .carousel .carousel-items .carousel-item:last-child {
    margin-right: 0vw;
  }
  .carousel .arrows button.left-arrow {
    margin-left: -8vw;
  }
  .carousel .arrows button.right-arrow {
    margin-right: -8vw;
  }

  .arrows button {
    z-index: 3;
  }

  .kitten-manager {
    width: 100vw;
  }
  .kitten-manager .kitten-grid {
    grid-template-columns: 1fr;
  }
  .kitten-manager .kitten-grid .card {
    width: 90vw;
  }

  .modal .modal-content {
    width: 200px;
    font-size: 15px;
  }
  .modal .modal-content button {
    font-size: 15px;
  }
  .modal .modal-content .close {
    font-size: 30px;
  }
}/*# sourceMappingURL=index.css.map */