@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

@keyframes fadeInAnimation {
  from {opacity: 0}
  to {opacity: 1}
}

body{
  margin: 0;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.carousel{
  position: relative;
  width: 800px;
  margin: 20px 0;
  user-select: none;  
  .carousel-items{
    display: flex;
    overflow: hidden;
    .carousel-item{
      position: relative;
      opacity: 0.3;
      transition: opacity 0.5s;
      img{
        width: 300px;
        margin: 0 50px;
      }
      h1{
        font-family: 'Roboto Slab', sans-serif;
        font-size: 80px;
        color: white;
        position: absolute;
        top: 80%;
        left: 20%;
        margin: 0;
        transform: translateY(-50%);
      }
      &.active{
        transition: transform 2s, opacity 0.5s;
        opacity: 1;
        z-index: 1;
        cursor: pointer;
        &:hover{
          transform: scale(1.05);
        }
      }
      &:first-child{
        margin-left: 200px;
      }
      &:last-child{
        margin-right: 200px;
      }
    }
  }
  .arrows{
    position: absolute;
    display:flex;
    justify-content: space-between;
    top:50%;
    width: 100%;
    button{
      font-family: serif;
      border: none;
      font-weight: bold;
      outline-offset: 0;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      cursor: pointer;
      &.left-arrow{
        margin-left: 20px;
      }
      &.right-arrow{
        margin-right: 20px;
      }
    }
  }
}

.kitten-manager{
  display: flex;
  gap: 20px;
  flex-direction: column;
  user-select: none;
  align-items: center;
  align-self: center;
  .filters{
    font-family: 'Ubuntu';
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    .search-box{
      font-size: 20px;
      padding: 5px;
      outline: none;
      margin: 10px;
      width: 100%;
    }
    .check-boxes{
      display:flex;
      flex-direction: row;
      gap: 15px;
      div{
        display:flex;
        align-items: center;
        gap: 5px;
      }
      input{
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin-right: 20px;
      }
      label{
        cursor: pointer;
      }
    }
  }
  .kitten-grid{
    display:grid;
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    .card{
      display:flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 15px;
      width: 200px;
      padding-bottom: 10px;
      box-shadow: 5px 5px 10px 6px rgb(190, 190, 190);
      img{
        width: 100%;
      }
      p{
        font-size: 20px;
        margin: 0;
      }
      button{
        margin: 0;
      }
    }
  }
  button{
    margin: 20px 0;
    background-color: rgb(143, 138, 138);
    padding: 10px 30px;
    border:none;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    outline: none;
    cursor: pointer;
    &:hover{
      color: #fff;
      background-color: rgb(130, 177, 238);
    }
  }
}
.modal {
  font-family: 'Ubuntu';
  user-select: none;
  display: flex;
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  .modal-content {
    animation-name: fadeInAnimation;
    animation-duration: 0.6s;
    font-size: 24px;
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    padding: 10px 40px;
    width: 50%;
    width: 500px;
    border-bottom:  rgb(130, 177, 238) 30px solid;
    border-top:  rgb(130, 177, 238) 30px solid;
    button{
      margin: 20px 0;
      background-color: rgb(143, 138, 138);
      padding: 15px 35px;
      border:none;
      border-radius: 30px;
      color: white;
      font-size: 16px;
      text-transform: capitalize;
      transition: all 0.5s ease;
      outline: none;
      cursor: pointer;
      &:hover{
        color: #fff;
        background-color: rgb(130, 177, 238);
      }
    }
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
@media only screen and (min-width: 1401px){
  .carousel{
    width: 80vw;
    .carousel-items{
      .carousel-item{
        img{
          width: 30vw;
          margin: 0 5vw;
        }
        &:first-child{
          margin-left: 20vw;
        }
        &:last-child{
          margin-right: 20vw;
        }
      }
    }
    .arrows{  
      button{
        width: 60px;
        height: 60px;
        font-size: 30px;
        &.left-arrow{
          margin-left: 2vw;
        }
        &.right-arrow{
          margin-right: 2vw;
        }
      }
    }
  }
  .modal .modal-content{
    width: 800px;
    font-size: 40px;
    button{
      font-size: 40px;;
    }
    .close{
      font-size: 50px;
    }
  }
  .kitten-manager{
    .kitten-grid{
      grid-template-columns: repeat(5, 1fr);
      .card{
        width: 15vw;
      }
    }
    .filters{
      .search-box, .check-boxes{
        font-size: 25px;
      }
      .check-boxes{
        input{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1001px){
  .kitten-manager{
    .kitten-grid{
      grid-template-columns: repeat(4, 1fr);
      .card{
        width: 20vw;
      }
    }
  }
}
@media only screen and (max-width: 1000px) and (min-width: 961px){
  .kitten-manager{
    .kitten-grid{
      grid-template-columns: repeat(3, 1fr);
      .card{
        width: 30vw;
      }
    }
  }
}
@media only screen and (max-width: 960px){
  .carousel{
    width: 80vw;
    .carousel-items{
      .carousel-item{
        img{
          width: 60vw;
          margin: 0 10vw;
        }
        h1{
          font-family: 'Roboto Slab', sans-serif;
          font-size: 100px;
        }
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  .arrows button{
    z-index: 3;
  }
  .kitten-manager{
    width: 100vw;
    .kitten-grid{
      grid-template-columns: 1fr 1fr 1fr;
      .card{
        width: 30vw;
      }
    }
    .filters .search-box,
    .filters .check-boxes{
      max-width: 600px;
      input{
        width: 30px;
        height: 30px;
      }
    }
  } 
}
@media only screen and (max-width: 660px){
  .carousel{
    width: 80vw;
    .carousel-items{
      .carousel-item{
        img{
          width: 60vw;
          margin: 0 10vw;
        }
        h1{
          font-family: 'Roboto Slab', sans-serif;
          font-size: 80px;
        }
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  .modal .modal-content{
    width: 300px;
    font-size: 20px;
    button{
      font-size: 20px;;
    }
    .close{
      font-size: 30px;
    }
  }
  .arrows button{
    z-index: 3;
  }
  .kitten-manager{
    width: 100vw;
    .kitten-grid{
      grid-template-columns: 1fr 1fr;
      .card{
        width: 40vw;
      }
    }
    .filters{
      width: 70vw;
      .check-boxes{
        flex-direction: column;
      }
    }
  } 
}
@media only screen and (max-width: 420px){
  .carousel{
    width: 75vw;
    .carousel-items{
      .carousel-item{
        img{
          width: 60vw;
          margin: 0 10vw;
        }
        h1{
          font-family: 'Roboto Slab', sans-serif;
          font-size: 50px;
        }
        &:first-child{
          margin-left: 0vw;
        }
        &:last-child{
          margin-right: 0vw;
        }
      }
    }
    .arrows{  
      button{
        &.left-arrow{
          margin-left: -8vw;
        }
        &.right-arrow{
          margin-right: -8vw;
        }
      }
    }
  }
  .arrows button{
    z-index: 3;
  }
  .kitten-manager{
    width: 100vw;
    .kitten-grid{
      grid-template-columns: 1fr;
      .card{
        width: 90vw;
      }
    }
  } 
  .modal .modal-content{
    width: 200px;
    font-size: 15px;
    button{
      font-size: 15px;;
    }
    .close{
      font-size: 30px;
    }
  }
}
