body{
  margin: 0;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.carousel{
  position: relative;
  width: 800px;
  margin: 50px 0;
  user-select: none;
  
  #carouselItems{
    display:flex;
    overflow: hidden;
    .carousel-item{
      position: relative;
      opacity: 0.3;
      transition: opacity 0.5s;
      img{
        width: 300px;
        margin: 0 50px;
      }
      h1{
        font-family: 'Ubuntu';
        font-size: 80px;
        color: white;
        position: absolute;
        top: 70%;
        left: 20%;
        margin: 0;
        transform: translateY(-50%);
      }
    }
    .carousel-item.active{
      transition: transform 2s;
      opacity: 1;
      z-index: 1;
      cursor: pointer;
    }
    .carousel-item.active:hover{
      transform: scale(1.05);
    }
    .carousel-item:first-child{
      margin-left: 200px;
    }
    .carousel-item:last-child{
      margin-right: 200px;
    }
  }
  .arrows{
    position: absolute;
    display:flex;
    justify-content: space-between;
    top:50%;
    width: 100%;

    button{
      border: none;
      outline-offset: 0;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      cursor: pointer;
    }
    #leftArrow{
      margin-left: 20px;
    }
    #rightArrow{
      margin-right: 20px;
    }
  }
}